<div class="container">
  <span class="taskname">{{task?.taskName}}<span class="t_right">{{task?.mark}}分</span></span>
  <div class="t_detail"><span class="t_left">{{task?.teacher}}</span>发布于<span class="t_left">{{task?.time}}</span><span class="t_right">{{task?.stat}}</span></div>
  <div class="content">
    {{task?.content}}
  </div>
  <div class="t_li">答案解析</div>
  <div class="t_ct">
    <button>查看答案</button>
  </div>
  <div class="t_li">优秀作业</div>
  <div class="t_ct"></div>
  <div class="t_li">任务讨论</div>
  <div>
    <textarea class="txtarea"></textarea>
  </div>
</div>