#tonbu_list{
    margin-top: 20px;
}
#tonbu_list li{
    position: relative;
    font-size: 16px;
    background-color: #fff;
    padding-left: 215px;
    min-height: 100px;
}
img{
    float: left;
    width: 215px;
    height: 100px;
}
.cmsg{
    float: left;
    width: 40%;
    height: 120px;
}
span{
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.c_name{   
    height: 40px;
    font-size: 20px;
}
.c_tail{
    font-size: 10px;
}